body, html {
    background-color: #f1f0f0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    margin: 1rem;
    width: 200px;
}
ul{
    padding: 0;
    list-style: none;
}
nav{
    margin: 0;
 }
.bar {
    background-color: #3f3f3f;
    border-radius: 4px;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    margin: auto;
    display: grid;
    grid-template-areas: "sidebar main anchors";
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-logo{
    margin-top: 5rem;
    margin: 0 ;
    padding-left:2.5rem ;
}

.icons-top-right{
    margin-top: 0;
    margin-right: 4rem ;
    position: absolute;
    right: 9px;

}


.menu-icon{
    margin-bottom: 18px;
    width: 20px;
    height: 20px;
}
.footer {
    margin: 15rem;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar a {
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: #606060;
    list-style: none; 
    padding-left: 0;
}
.sidebar img{
    margin-right: 1rem;
    vertical-align: middle;
}
.nav-search-input{
    padding: 0 0 0 1rem;
    background-color: #fff;
    position: absolute;
    margin-top: .5rem;
    margin-left: 25%;
    width: 400px;
    height: 35px;
    border-radius: 25px 0 0 25px;
    outline: none;
    border-color: #cacaca;
    border-style: solid;
}
.nav-search{
    background-image: url(/assets/images/icone\ de\ busca.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #fff;
    position: absolute;
    margin-top: .5rem;
    margin-left: 46%;
    width: 70PX;
    height: 39px;
    border-radius: 0 20px 20px 0;
    border-color: #cacaca;
    border-style: solid;

}
.sidebar a:hover{
    background-color: #dadada;
    margin: 4px;
    padding: 0px 10px 0px 10px;;
    border-radius: 6px;
}
.video-picture{
    background-color: #ebebeb;
    margin-right: 0;
    cursor: pointer;
}



